<template>
  <label v-if="$attrs.type !== 'password'" class="font-weight-bold" :class="labelStatus" :for="identity">{{ label }}
  </label>
  <label v-else :for="identity">
    <span class="field-label font-weight-bold d-block">{{ label }}</span>
    <span class="field-hint text-muted">{{ ruleInfo }}</span>
  </label>
  <input
      :id="identity"
      :class="fieldStatus"
      :name="name"
      :value="modelValue"
      :maxlength="maxlength"
      :placeholder="placeholder"
      :autocomplete="autocomplete"
      v-bind="$attrs"
      v-focus="focus"
      @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script>
export default {
  props: {
    group: { // To connect it with the wrapping form
      type: String,
      required: false,
    },
    isValid: {
      required: false
    },
    label: {
      type: String,
      required: false,
    },
    ruleInfo: {
      type: String,
      required: false,
    },
    name: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: false,
    },
    modelValue: { // Replacement of value (Vue3)
      type: String,
      default: '',
    },
    currentValue: { // Is value that we want to input load with it
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
    },
    maxlength: {
      type: String,
      required: false,
    },
    focus: {
      type: Boolean,
      default: false
    },
    autocomplete: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      identity: this.id ? this.id : this.name,
    };
  },
  mounted() {
    this.emit(this.currentValue);
  },
  computed: {
    labelStatus() {
      if (!this.isValid && this.modelValue !== '') {
        return 'text-success'
      } else if(this.isValid) {
        return 'text-danger'
      } else {
        return ''
      }
    },
    fieldStatus() {
      if (!this.isValid && this.modelValue !== '') {
        return 'is-valid'
      } else if(this.isValid) {
        return 'is-invalid'
      } else {
        return ''
      }
    }
  },
  methods: {
    emit(value) {
      this.$emit('update:modelValue', value);
    },
  },
};
</script>

<style>
</style>
