<template>
  <!-- I might need remove novalidate attribute -->
  <form novalidate>
    <slot
        :group="group"
    ></slot>
  </form>
</template>

<script>
export default {
  props: {
    group: { // Represent the identity associated with all form elements (inputs, buttons) which may be within as well as outside of the form wrapper
      type: String,
      required: false
    }
  }
}
</script>


<style>
</style>
