<template>
  <div class="container">
    <h2 class="my-5">Registration Form</h2>

    <!-- Alert box  -->
    <div class="alert alert-danger" role="alert" v-if="!!v.$errors.length">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <template v-for="(error, index) of v.$errors" :key="index">
        <p><b>{{NameProperty(error.$property)}}:</b> {{ error.$message }}</p>
      </template>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form-wrapper group="update-form">
          <!-- v-slot:default="slotProps" -->
          <template #default="props">
            <div class="row mb-2">
              <div class="col-md-6">
                <!-- Full name -->
                <div class="form-group">
                  <text-input
                      class="form-control"
                      :group="props.group"
                      :is-valid="v.fields.full_name.$error"
                      label="Full Name"
                      name="full_name"
                      placeholder="Full Name"
                      maxlength="25"
                      :focus="true"
                      v-model="fields.full_name"
                  ></text-input>
                </div>
                <!--  Display validation error message -->
                <template v-if="v.fields.full_name.$error">
                  <template v-for="(error, index) of v.fields.full_name.$errors" :key="index">
                    <p>{{ error.$message }}</p>
                  </template>
                </template>
              </div>

              <div class="col-md-6">
                <!-- Username -->
                <div class="form-group">
                  <text-input
                      class="form-control"
                      :group="props.group"
                      :is-valid="v.fields.username.$error"
                      label="Username"
                      name="username"
                      placeholder="username"
                      maxlength="15"
                      v-model="fields.username"
                  ></text-input>
                </div>
                <template v-if="v.fields.username.$error">
                  <template v-for="(error, index) of v.fields.username.$errors" :key="index">
                    <p>{{ error.$message }}</p>
                  </template>
                </template>
              </div>
            </div> <!-- /row -->

            <!-- Password-->
            <div class="form-group">
              <text-input
                  class="form-control"
                  :group="props.group"
                  :is-valid="v.fields.password.$error"
                  type="password"
                  label="Password"
                  name="password"
                  maxlength="20"
                  v-model="fields.password"
                  :rule-info="`Must contain 8+ characters with at least 1 number and 1 uppercase letter.`"
              ></text-input>
            </div>

            <template v-if="v.fields.password.$error">
              <template v-for="(error, index) of v.fields.password.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <!-- Email-->
            <div class="form-group">
              <text-input
                  class="form-control"
                  :group="props.group"
                  :is-valid="v.fields.email.$error"
                  type="email"
                  label="Email"
                  name="email"
                  placeholder="domain@tld.com"
                  maxlength="25"
                  v-model="fields.email"
              ></text-input>
            </div>
            <template v-if="v.fields.email.$error">
              <template v-for="(error, index) of v.fields.email.$errors" :key="index">
                <p>{{ error.$message }}</p>
              </template>
            </template>

            <input type="submit"
                   class="btn btn-primary"
                   value="Register"
                   :disabled="!!v.$errors.length"
            >

          </template>
        </form-wrapper>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</template>

<script>
import FormWrapper from './components/Form/Wrapper';
import TextInput from './components/Form/Inputs/Text';
import useVuelidate from '@vuelidate/core';
import {required, alpha, alphaNum, minLength, maxLength, email} from '@vuelidate/validators';

export default {
  name: 'App',
  setup: () => ({v: useVuelidate()}),
  components: {
    FormWrapper,
    TextInput
  },
  data() {
    return {
      fields: {
        full_name: '',
        username: '',
        password: '',
        email: ''
      }
    }
  },
  validations() {
    return {
      fields: {
        full_name: {
          required,
          alpha,
          minLength: minLength(5),
          maxLength: maxLength(25),
          $autoDirty: true
        },
        username: {
          required,
          alphaNum,
          minLength: minLength(4),
          maxLength: maxLength(15),
          $autoDirty: true
        },
        password: {
          required,
          minLength: minLength(8),
          $autoDirty: true
        },
        email: {
          required,
          email,
          $autoDirty: true
        }
      }
    }
  },
  methods:{
    NameProperty (value) {
      const toCamelCase = (" " + value).toLowerCase().replace(/[^a-zA-Z0-9]+(.)/g, (m, chr) => chr.toUpperCase());
      return toCamelCase.replace(/([A-Z]+)/g, ' $1').replace(/^ /, '')
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.form-control {
  padding: 1.32rem 0.75rem;
}
</style>
